body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    animation: slide 10s infinite;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    font-size: 30px;
    padding: 40px 0;
    background: #ccc;
}

@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;
}
#myParagraph {
    color: black;
    transition: color 0.3s, text-transform 0.3s;

}
.input-wrapper {
    display: flex;
    flex-direction: column;
}
.input-box {
    width: 300px;
    height: 30px;
    padding: 5px 15px;
    border: 1px solid gray;
    margin-bottom: -1px; /* To collapse borders */
}
.input-box:focus {
    border: 2px solid blue; /* Highlight color */
    outline: none; /* Remove default outline */
}
.image {
    transition: transform 0.3s ease;
}
.image:hover {
    transform: scale(1.2);
}